@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.05);
  }
}

@keyframes openDetail {
  0% {
    opacity: 0;
    background: white;
    transform: translateY(0%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    opacity: 1;
    background: #f9f9f9;
    transform: translateY(0%);
  }
}

@-webkit-keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
}
@keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

body {
  background-color: bisque;
  font-family: '-apple-system', 'BlinkMacSystemFont','Hiragino Sans','Hiragino Kaku Gothic ProN',
  "segoe ui",'游ゴシック  Medium','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-size:16px;
  color: #333333;
}

nav {
  font-size: 0.9em;
}

nav a {
  margin: 10px;
  color: #333333;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.name {
  margin: 0;
  padding:10px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social ul {
  padding-left:0px
}

.social ul li {
  display: inline;
  padding: 0 5px;

}

.social ul li a img {
  width: 64px;
}

.social ul li a img:hover {
  -webkit-animation: gelatine .3s;
  animation: gelatine .3s;
}

.favorite {
  display: flex;
  flex-direction: column;
}

.favorite ul li {
  list-style-type: none;
}

.works {
  max-width: 400px;
}

.works h3 {
  text-align: center;
}

.works label {
  display: block;
  margin: 1.5px 0;
  padding : 11px 12px;
  color :#333333;
  cursor :pointer;
  transition: .3s;
  padding-left: 80px;
}

.works label:hover {
  color: rgb(232, 143, 26)
}

.works label::before {
  content: "▶︎"
}

.works input {
  display: none;
}

.works .detail {
  height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.8s;
}

.cssacc:checked + .detail {
  display: flex;
  height: auto;
  padding: 5px;
  background: #ffffff;
  opacity: 1;
  width:90%;
  box-shadow: 0 3px 6px #ccc;
  border-radius: 5px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #428bca;
}

footer {
  text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding-bottom: 40px;
}
