@font-face {
  /* font-family: 'misaki_gothic';
  src: url(./font/misaki_gothic.ttf) */
  font-family: 'PixelMplus12-Bold';
  src: url(./font/PixelMplus12-Bold.ttf)
}

@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.05);
  }
}

@keyframes openDetail {
  0% {
    opacity: 0;
    background: white;
    transform: translateY(0%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    opacity: 1;
    background: #f9f9f9;
    transform: translateY(0%);
  }
}

body {
  background-color: bisque;
  font-family: '-apple-system', 'BlinkMacSystemFont','Hiragino Sans','Hiragino Kaku Gothic ProN',
  "segoe ui",'游ゴシック  Medium','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-size:16px;
  color: #333333;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.name {
  margin: 0;
  padding:10px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social ul {
  padding-left:0px
}

.social ul li {
  display: inline;
  padding: 0 5px;

}

.social ul li a img {
  width: 64px;

}
.social ul li a img:hover {
  -webkit-animation: zoom .3s;
  animation: zoom .3s;
}

.works {
  max-width: 400px;
}

.works label {
  display: block;
  margin: 1.5px 0;
  padding : 11px 12px;
  color :#333333;
  cursor :pointer;
  transition: .3s;
}

.works label:hover {
  color: rgb(232, 143, 26)
}

.works label::before {
  content: "▶︎"
}

.works input {
  display: none;
}

.works .detail {
  height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.8s;
}

.cssacc:checked + .detail {
  display: flex;
  height: auto;
  padding: 5px;
  background: #ffffff;
  opacity: 1;
  width:90%;
  box-shadow: 0 3px 6px #ccc;
  border-radius: 5px;
}

.links {
  width: 400px;
}

.links ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

